<h1 style="color:brown;">Welcome to Sami's Dessert Store!</h1>
<!-- specify 5 columns for both menu list and menu detail by using bootstrap -->
<div class="row">
  <div class="col-xs-5">
    <app-menu-list></app-menu-list>
  </div>
  <div class="col-xs-5">
    <!-- <app-menu-detail></app-menu-detail> -->
    <router-outlet></router-outlet>
  </div>
</div>
<hr>
<footer style="font-size: 25px; text-align: center;">
  <p>Author: Yu-Chun Tung | <a href="https://www.linkedin.com/in/yu-chun-tung/">LinkedIn</a> | <a href="https://github.com/dyj0183/dessert-store">GitHub</a></p>
  <p>Copyright @ 2021 Sami's Dessert Store. All rights reserved.</p>
</footer>
