<div class="panel panel-default">
  <div class="panel-body">

    <!-- ngSubmit is a built in funtionality, and it will be triggered when the form was submitted  -->
    <!-- use local reference #f to get the entire form, however, it is not a javascript object we can work with, so we use "ngForm" get grab the javascript object the form created by Angular -->
    <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" class="form-control required" size="120" max="120" [ngModel]=menu?.name
            name="name" required #name="ngModel">
          <!-- add "ngModel" to indicate that we want this input to be a control  -->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Description:</label>
          <input type="text" id="description" class="form-control required" size="120" max="255"
            [ngModel]=menu?.description name="description" required #description="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="price">Price:</label>
          <input type="text" id="price" class="form-control invalid" size="150" max="255" [ngModel]=menu?.price
            name="price" required #price="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" class="form-control" size="150" max="255" [ngModel]=menu?.imageUrl
            name="imageUrl">
        </div>
      </div>

      <!-- if both email and name are invalid and touched, display the error message to remind users -->
      <div class="alert alert-danger" *ngIf="!name.valid && name.touched && !description.valid && description.touched && !price.valid && price.touched">
        <p>The Name, Description, and Price are required.</p>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>
