<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h2>{{ menuDetail?.name }}</h2>
        <div>
          <img src={{menuDetail?.imageUrl}} width="490" height="380">
        </div>
        <div style="margin: 3px;">
          <a class="btn btn-primary" [routerLink]="['edit']" style="margin: 2px;">Edit</a>
          <a class="btn btn-danger" (click)="onDelete()" style="margin: 2px;">Delete</a>
        </div>
      </div>
      <div class="panel-body">
        <div class="list-group-item-heading">
          Description: {{ menuDetail?.description }}
        </div>
        <div class="list-group-item-heading">
          Price: ${{ menuDetail?.price }}
        </div>
      </div>
    </div>
  </div>
</div>
